body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

/*Default styling for all the <div>s containing cat images*/

.catDiv {
  position: relative;
  display: block;
  float: left; /*right works too! why?*/
  width: calc(100% / 6);
  margin-top: -3px;
}

/*Styling for .felisHover when hovering over .catDiv
The '>' operator only works with an element (on the right) that is a direct child of the element on the right.  */

.catDiv:hover > .felisHover {
  opacity: 1;
}

/*styling for all 'hidden' <div>s*/

.felisHover {
  opacity: 0;
  /*enable the thing above eventually*/
  position: absolute;
  top: 20px;
  bottom: 20px;
  right: 20px;
  left: 20px;
  font-size: 1.6em;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 60%;
  background:rgba(71,163,218,0.2);
}

/*Styling for all cat images*/

.catPic {
  max-width: 100%; /*the image will take up 100% of its parent's width*/
}

/*Media queries*/

@media screen and (max-width:1190px) and (min-width: 945px) {
  .catDiv {
    width: calc(100% / 5);
  }
}

@media screen and (max-width:945px) and (min-width: 660px) {
  .catDiv {
    width: calc(100% / 4);
  }
  .felisHover {
    padding-top: 55%;
  }
}

@media screen and (max-width:660px) and (min-width: 400px) {
  .catDiv {
    width: calc(100% / 3);
  }
  .felisHover {
    padding-top: 55%;
  }
}

@media screen and (max-width:400px) and (min-width: 300px) {
  .catDiv {
    width: calc(100% / 2);
  }
  .felisHover {
    padding-top: 55%;
  }
}

@media screen and (max-width: 300px) {
  .catDiv {
    width: calc(100%);
  }
}
