body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

/*Default styling for all the <div>s containing cat images*/

.catDiv {
  position: relative;
  display: block;
  float: left; /*right works too! why?*/
  width: calc(100% / 6);
}

/*Styling for hidden divs when shown via css hover over .catDiv*/

.catDiv:hover > .felisHover {
  opacity: 1;
}

/*styling for all 'hidden' <div>s*/

.felisHover {
  opacity: 0;
  /*enable the thing above eventually*/
  position: absolute;
  top: 20px;
  bottom: 20px;
  right: 20px;
  left: 20px;
  border: solid 1px black;
  /*disable the thing above eventually*/
  font-size: 1.6em;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 60%;
  background:rgba(71,163,218,0.2);
}

/*Styling for all cat images*/

.catPic {
  max-width: 100%; /*the image will take up 100% of its parent's width*/
}
